// scss/components/_toggles.scss

.theme-switch,
.lang-switch {
    display: flex;
    align-items: center;
}

#theme-toggle-checkbox,
#lang-toggle-checkbox {
    display: none;
}

.theme-switch-label,
.lang-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    height: 28px;
    background: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.theme-switch-knob,
.lang-switch-knob {
    content: '';
    position: absolute;
    top: 50%;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: 0.3s;
    background: var(--text-color);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
}

#theme-toggle-checkbox:checked+.theme-switch-label .theme-switch-knob,
#lang-toggle-checkbox:checked+.lang-switch-label .lang-switch-knob {
    left: calc(100% - 2px);
    transform: translateX(-100%) translateY(-50%);
}

.theme-switch-label::before,
.theme-switch-label::after {
    font-size: 1.1em;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.theme-switch-label::before {
    content: '🌙';
    right: 0;
    width: 50%;
    opacity: 1;
}

.theme-switch-label::after {
    content: '☀️';
    left: 0;
    width: 50%;
    opacity: 0;
}

#theme-toggle-checkbox:checked+.theme-switch-label::before {
    opacity: 0;
}

#theme-toggle-checkbox:checked+.theme-switch-label::after {
    opacity: 1;
}

.lang-switch-label::before,
.lang-switch-label::after {
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.lang-switch-label::before {
    content: 'RU';
    right: 0;
    width: 50%;
    opacity: 1;
}

.lang-switch-label::after {
    content: 'EN';
    left: 0;
    width: 50%;
    opacity: 0;
}

#lang-toggle-checkbox:checked+.lang-switch-label::before {
    opacity: 0;
}

#lang-toggle-checkbox:checked+.lang-switch-label::after {
    opacity: 1;
}