// scss/base/_global.scss

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* CUSTOM SCROLLBARS */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--input-bg);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--input-bg);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 5px;
    border: 2px solid var(--input-bg);

    &:hover {
        background-color: var(--button-hover);
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}